<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ .Site.BaseURL }}">
          {{ .Site.Title }}
        </a>
      </h1>
      <p class="lead">{{ .Site.Params.Description | safeHTML }}</p>
    </div>

    <nav class="sidebar-nav">
        <a href="{{ .Site.BaseURL }}">Home</a>
        {{ range .Site.Menus.main }}
          <a href="{{.URL}}"> {{ .Name }} </a>
        {{end}}
    </nav>

    <p>© {{ now.Format "2006" }} Vivek Ghaisas &middot; <a href="{{ "license" | absURL }}">License</a></p>
  </div>
</div>
