<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ .Site.BaseURL }}">
          {{ .Site.Title }}
        </a>
      </h1>
      <div class="tagline">{{ .Site.Params.Description | safeHTML }}</div>
    </div>
    <nav class="sidebar-nav">
        <a href="{{ .Site.BaseURL }}">← blog home</a>
        <a href="https://vghaisas.com">← vghaisas.com</a>
        <a href="https://twitter.com/vghaisas">→ @vghaisas</a>
    </nav>
    <div>© {{ now.Format "2006" }} Vivek Ghaisas · <a href="{{ "license" | absURL }}">License</a></div>
  </div>
</div>
